#titlebar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 32px;
	background-color: white;
	-webkit-app-region: drag;
}
#title {
	position:absolute;
	top:5px;
	width:100%;
	text-align:center;
}
#buttons {
	position:absolute;
	right:0;
}
#buttons img {
	margin:5px 10px 0 0;
	width:17px;
	height:17px;
	-webkit-app-region: no-drag;
}

html, body {
	height:100%;
	margin:0;
}
.CodeMirror  {
	position:absolute;
	top:32px;
	width:100%;
	height:-webkit-calc(100% - 32px);
}
.CodeMirror-cursor {
	z-index:100;
}
.CodeMirror-activeline-background {
	background: #e8f2ff;
}
.CodeMirror-matchingbracket {
	color:initial !important;
}
.CodeMirror-matchingbracket, .cm-matchhighlight {
	border:1px solid #ccc;
	border-radius:3px;
	margin:-1px;
}

.jshint-error {
	width:28px;
}
.jshint-error-line .CodeMirror-linenumber {
	background-color:#FF5151;
	color:white;
}

#sandbox {
	display:none;
}